.tab{
	background: #fff;
	overflow: hidden;
    border-bottom: 1px solid #d7d7d7;
    padding-top:3.125rem;
}
.tab a {
    position: relative;
    display: block;
    float: left;
    width: 50%;
    line-height: 3.125rem;
    font-size: 1.167rem;
    color: #666;
    text-decoration: none;
    text-align: center;
    letter-spacing: .416rem;
}
.tab a.active::before {
    position: absolute;
    right: 0;
    top: .5rem;
    content: "";
    height: 2.084rem;
    border-right: .083rem solid #d7d7d7;
}
.tab a.on {
    border-bottom: .167rem solid #ff5401;
    color: #333;
    text-decoration: none;
}
.btn-link{
	padding-bottom: 10.409rem;
}
.btn-link a{
	float: right;
	margin: 1.666rem 0;
	font-size: 1rem;
	color: #ffb400;
	text-align: right;
	text-decoration: underline;
}
.reg-box>a{
	display: block;
    background: #fff;
    line-height: 3.75rem;
    font-size: 1.083rem;
    color: #323232;
    text-align: center;
}
.reg-box>a .icon-down,.reg-box>a .icon-up{
	margin-left: .416rem;
	font-size: 1rem;
}
.reg-box {
    padding-top:0;
}
.reg_xy {
    margin-left:.833rem;
    margin-top:.833rem; 
}
.xy_cont {
    position:fixed;
    top:0;
    left:100%;
    width:100%;
    height:100%;
    background:#f0f0f0;
    z-index:999;
    overflow:auto;
}
.xy_info {
    padding:4rem .833rem 2rem;
}
.xy_info h3 {
    font-size:1.167rem;
}
.xy_info p {
    text-indent:2em;
    font-size:.912rem;
}
.form-box>ul>li {
    position:relative;
}
.form_cord {
    position:absolute;
    right:.833rem;
    height:1.666rem;
    width:4.66rem;
}
.form_cord>img {
    width:100%;
    height:100%;
}